{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/proizvodi" role="button">Lista proizvoda</a>
    </div>

    <form class="proizvod-form" method="POST">
        <div>
            <label for="naziv">Naziv: </label>
            <input type="text" id="naziv" name="naziv" required>
        </div>

        <div>
            <button type="submit">
                Dodaj proizvod
            </button>
        </div>
    </form>
</div>
{% endblock %}
