{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/proizvodi" role="button">Lista proizvoda</a>
    </div>

    <form class = "proizvod-form", method="POST">
        <div>
            <label for="naziv">Naziv:</label>
            <input type="text" id="naziv" name="naziv" value="{{ proizvod.naziv|escape }}">
        </div>

        <div>
            <button type="submit">
                Izmeni proizvod
            </button>
        </div>
    </form>
    
</div>

{% endblock %}
