{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/proizvodi/add" role="button">Dodaj novi proizvod</a>
    </div>
    <div class = "proizvodi">
        <ul>
            {% for proizvod in proizvodi %}
            <li>
                <a href="{{ BASE }}user/proizvodi/edit/{{ proizvod.proizvod_id }}">
                    {{ proizvod.naziv|escape }}
                </a>         
            {% endfor %}
            </li>
        </ul>
    </div>
</div>

{% endblock %}
