{% extends "_global/index.html" %}

{% block main %}
<div>
    <a href="{{ BASE }}user/proizvodi" role="button">Lista proizvoda</a>
    <a href="{{ BASE }}user/oglasi" role="button">Lista oglasa</a>
</div>
{% endblock %}
