{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/login" method="POST">
    <div>
        <label for="input_korisnicko_ime">Korisničko ime:</label>
        <input type="text" id="input_korisnicko_ime" name="login_korisnicko_ime" required
               placeholder="Unesite svoje korisničko ime.">
    </div>

    <div>
        <label for="input_lozinka">Lozinka:</label>
        <input type="password" id="input_lozinka" name="login_lozinka" required
               placeholder="Unesite svoju lozinku.">
    </div>

    <div>
        <button type="submit">
            Log in
        </button>
    </div>
</form>
{% endblock %}
