{% extends "_global/index.html" %}

{% block main %}
<div class="row">
<form action="{{ BASE }}user/register" method="POST" 
        class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 card">
    <div class="card">    
    <div class="card-header">
        Registracija korisnika
    </div>   
    <div class="card-body">    
    <div class="form-group">
        <label for="input_email">E-mail:</label>
        <input type="email" id="input_email" name="reg_email" required class="form-control"
               placeholder="Unesite svoju adresu e-pošte u ovo polje.">
    </div>

    <div class="form-group">
        <label for="input_ime">Ime:</label>
        <input type="text" id="input_ime" name="reg_ime" required class="form-control"
               placeholder="Unesite svoje ime.">
    </div>

    <div class="form-group">
        <label for="input_prezime">Prezime:</label>
        <input type="text" id="input_prezime" name="reg_prezime" required class="form-control"
               placeholder="Unesite svoje prezime.">
    </div>

    <div class="form-group">
        <label for="input_korisnicko_ime">Korisničko ime:</label>
        <input type="text" id="input_korisnicko_ime" name="reg_korisnicko_ime" required class="form-control"
               placeholder="Unesite željeno korisničko ime.">
    </div>

    <div class="form-group">
        <label for="input_lozinka_1">Lozinka:</label>
        <input type="password" id="input_lozinka_1" name="reg_lozinka_1" required class="form-control"
               placeholder="Unesite željenu lozinku.">
    </div>

    <div class="form-group">
        <label for="input_lozinka_2">Ponovite lozinku:</label>
        <input type="password" id="input_lozinka_2" name="reg_lozinka_2" required class="form-control"
               placeholder="Unesite željenu lozinku još jednom.">
    </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">
            Registruj se
        </button>
    </div>
    </div>
</form>
</div>
{% endblock %}
