{% extends "_global/index.html" %}

{% block main %} 
{% spaceless %}
<div class= "row">
    {% for proizvod in proizvodi %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center proizvod">
        <div class="card-body">
            <a href="{{ BASE }}proizvod/{{proizvod.proizvod_id}}" 
                class="card-title">
            {{ proizvod.naziv }}
            </a>
        </div>
    </div>
    
    {% endfor %}
</div>
{% endspaceless%}
{% endblock %}