.main-menu {

    margin-bottom: 20px;
}
.social-icons { 
    margin-bottom: 10px;
    margin-top: 10px;
}

.social-icons a i.fa {
    display: inline-block;
    color: #dc0004;
    font-size: 30pt;
    margin: 3px;
}


.proizvod {
    padding: 30px 0px; 
}

.bookmark-card {
    margin: 10px 0;
}

.oglas {
    margin-bottom: 15px;
}

.width-100-percent{ width: 100%; }

/** {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    width: 900px;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social"
                         "banner search"
                         "menu   menu";
}

.banners{ grid-area: banner;}


#main-menu {
    grid-area: menu;
    margin: 20px 0px; 
}

#main-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
#main-menu > ul > li{
    text-align: center; 
    flex-grow: 1;

  
}

#main-menu > ul > li:hover{
    background: rgba(99, 8, 8, 0.3);
}

#main-menu > ul > li >a {
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    color: #000;
    }


.proizvodi {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.proizvod{
    width: 50%;
    text-align: center;
    padding: 50px 100px; 
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: #000;
}
.proizvod:hover{
    border: 1px solid #000;
    background: rgb(200, 200, 200, 0.6);
}
.site-footer{
    margin-top: 40px;
    text-align: center;
}

.oglas{
    display: grid;
    grid-template-areas: "big-image big-image naziv naziv"
                         "big-image big-image date1 date2";
    
    grid-template-columns: 210px 0px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.oglas > .oglas-naziv{grid-area: naziv; border: 1px dashed #ccc;}
.oglas > .oglas-date1 {grid-area: date1; border: 1px dashed #ccc;}
.oglas > .oglas-date2 {grid-area: date2; border: 1px dashed #ccc;} 
.oglas > .oglas-big-image {grid-area: big-image; border: 1px dashed #ccc;}
.oglas > .oglas-big-image > img { width: auto; height: auto; }

.bookmarks {
    border: 1px solid #000000;
    background: #fefefe;
    position: fixed;
    display: block;
    right: 0px;
    top: 50px;
}*/