{% extends "_global/index.html" %}

{% block main %} 
<ul>
    {% for oglas in oglasiInProizvod %}
        <li class="oglas row">
            <div class="col-12 col-md-2">
                <a href = "{{ BASE }}oglas/{{oglas.oglas_id}}">
                    <img src= "{{ BASE }}assets/img/cvecezarodjendan-1.jpg" 
                        alt="Velika slika - {{oglas.oglas_id}}" class= "width-100-percent">
                </a>
            </div>

            <div class="col-12 col-md-10">
                <a href = "{{ BASE }}oglas/{{oglas.oglas_id}}">
                    {{ oglas.naziv|escape }}
                </a>

                <div class="row">
                    <span class= "col-6 col-md-4">{{ oglas.created_at|escape }}</span>
                    <span class= "col-6 col-md-4">{{ oglas.expires_at|escape }}</span> 
                </div>           
            </div>
       
        
    {% endfor%}
</ul>

{% endblock %}

{% block naslov %}
{{ proizvod.naziv|escape }}
{% endblock %}

