<!doctype html>
<html>
    <head>
        <title>Flora oglasi- {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href= "{{ BASE }}assets/css/main.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrape/dist/css/bootstrap.min.css">
     </head>
     <body>
         <div class="container">
        <header>
            <div class="row">
                <div class= "col col-sm">
                    <a href = "{{ BASE }}">
                         <img src= "{{ BASE }}assets/img/banner-1.jpg" alt= "Banner 1">
                    </a>
                </div>

                 <div class= "col col-sm ">
                     <div class="social-icons text right">
                        <a href= "https://www.facebook.com/"> <i class="fa fa-facebook-official"></i></a>
                        <a href= "https://www.twitter.com/"> <i class="fa fa-twitter"></i></a>
                        <a href= "https://www.plus.google.com/discover"> <i class="fa fa-google"></i></a>
                        <a href= "https://www.youtube.com/"> <i class="fa fa-youtube"></i> </a>
                    </div>

                    <div class= "search-box">
                        <form method= "post" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type= "text" name="q" class="form-control" 
                                        placeholder="kljucne reci pretrage" required pattern="[^\]{2,}">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primar ">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>   

            <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link "href= "{{ BASE }}"><i class="fa fa-home"></i>Pocetna</a>
                        <a class="nav-item nav-link "href= "{{ BASE }}user/profile"><i class="fa fa-user"></i>Profil</a>
                        <a class="nav-item nav-link "href= "{{ BASE }}kontakt"><i class="fa fa-phone"></i>Kontakt</a>
                        <a class="nav-item nav-link "href= "{{ BASE }}user/logout"><i class="fa fa-sign-out"></i>Odjava</a>   

                    </div>

                </div>  
            </nav>  

        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>
        <div class="card bookmark-card">
            <div class="bookmarks card-body">
                Loading bookmarks...
            </div>
        </div>

        <footer class= "site-footer text-center">
            &copy; 2018 - Prodaja cveca Flora 
        </footer>

        </div>
        
        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
    </body>
</html>