{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/oglasi" role="button">Lista oglasa</a>
    </div>

    <form class = "oglas-form", method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="naziv">Naziv:</label>
            <input type="text" id="naziv" name="naziv" value="{{ oglas.naziv|escape }}">
        </div>

        <div class="form-group">
            <label for="opis">Opis: </label>
            <textarea id="opis" name="opis" required rows="3">{{ oglas.opis }}</textarea>
        </div>
        
        <div >
            <label for="expires_at">Zavrsava se: </label>
            <input type="datetime-local" id="expires_at" name="expires_at" required value="{{ oglas.expires_at }}">
        </div>

        <div class="form-group">
            <label for="proizvod_id">Oglas proizvoda: </label>
            <select class="form-control" name="proizvod_id" id="proizvod_id">
                    {% for proizvod in proizvodi %}
                <option value="{{ proizvod.proizvod_id }}" {% if oglas.proizvod_id == proizvod.proizvod_id %}selected{% endif %}>
                        {{ proizvod.naziv }}
                </option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="image">Slika: </label>
            <input type="file" id="image" name="image" class="form-control" accept="image/jpeg" >
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
                Izmeni oglas
            </button>
        </div>
    </form>
    
</div>

{% endblock %}
