{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/oglasi/add" role="button">Dodaj novi oglas</a>
    </div>
    <div class = "oglasi">
        <ul>
            {% for oglas in oglasi %}
            <li>
                <a href="{{ BASE }}user/oglasi/edit/{{ oglas.oglas_id }}">
                    {{ oglas.naziv|escape }}
                </a>         
            {% endfor %}
            </li>
        </ul>
    </div>
</div>

{% endblock %}
