{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/oglasi" role="button">Lista oglasa</a>
    </div>

    <p>{{ message }}</p>
</div>
{% endblock %}
